/* This is index.ss located in pages/index.css*/

.text-center {
    padding: 50px 0;
}

.display-4 {
    color: #000000;
    font-weight: bold;
}

.mt-4 {
    margin-top: 30px; 
}

.welcome-container {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 30px;
    background-color: #000000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
