@page
@model Ecommerce_Application.Areas.Identity.Pages.Payment.PaymentSuccessModel
@{
    ViewData["Title"] = "Payment Successful";
}

<h2>Payment Successful</h2>
<p>Thank you for your purchase!</p>
